<article class="hentry">
  <!-- 文章头部 -->
  <header class="entry-header">
    <!-- 标题输出 -->
    <h1 class="entry-title"><%= page.subtitle || page.title %></h1>

    <hr>

    <div class="breadcrumbs" itemscope itemtype="http://schema.org/WebPage" id="crumbs">
      收录于 <% page.categories.each(function(category, i) { %>
        <a href="<%= url_for(category.path) %>"><%- category.name %></a>

        <% if (i < page.categories.length - 1) { %>
          >
        <% } %>
      <% }) %>
      | 最后更新时间 <%- date(page.updated, config.date_format) %>
    </div>
  </header>

  <!-- 正文输出 -->
  <div class="markdown-body">
    <%- page.content %>
  </div>

  <!-- 版权声明 -->
  <%- partial('_partial/copyright') %>

  <!-- 文章标签 -->
  <div class="post-tags">
    <i class="<%- theme.iconfont.class_map.tags %>"></i>
    <% page.tags.each(function(tag, i) { %>
      <a href="<%= url_for(tag.path) %>"><span>#</span><%- tag.name %></a>
    <% }) %>
  </div>
</article>

<!-- 相邻文章 -->
<%- partial('_partial/post-prev-next') %>

<hr>