<article class="hentry">
  <!-- 文章头部 -->
  <header class="entry-header">
    <!-- 标题输出 -->
    <h1 class="entry-title"><%= page.subtitle || page.title %></h1>

    <hr>

    <div class="breadcrumbs" itemscope itemtype="http://schema.org/WebPage" id="crumbs">
      收录于 <% page.categories.each(function(category, i) { %>
        <a href="<%= url_for(category.path) %>"><%- category.name %></a>

        <% if (i < page.categories.length - 1) { %>
          >
        <% } %>
      <% }) %>
      | 最后更新时间 <%- date(page.updated, config.date_format) %>
    </div>
  </header>

  <!-- 正文输出 -->
  <div class="markdown-body">
    <%- page.content %>
  </div>

  <!-- 文章底部 -->
  <footer class="post-footer">
    <!-- 文章标签 -->
    <div class="post-tags">
      <i class="<%- theme.iconfont.class_map.tags %>"></i>
      <% page.tags.each(function(tag, i) { %>
        <a href="<%= url_for(tag.path) %>"><span>#</span><%- tag.name %></a>
      <% }) %>
    </div>

    <!-- 阅读次数 -->
    <div class="post-like">
      <a href="javascript:;" data-action="ding" data-id="58" class="specsZan ">
        <i class="<%- theme.iconfont.class_map.view %>"></i>
        <span class="count">13w</span>
      </a>
    </div>

    <!-- 分享按钮 -->
    <%- partial('_partial/share') %>
  </footer>
</article>

<!-- 版权声明 -->
<%- partial('_partial/copyright') %>

<!-- 相邻文章 -->
<%- partial('_partial/post-prev-next') %>

<hr>